# FBiH Cleaning

Now that all the data is combined I will be deciding how I want the final dataset to look like for the purposes of my paper.

In [4]:
import pandas as pd

from tools.config import SAVE_DIR

Load up the combined data

In [5]:
combined = pd.read_excel(SAVE_DIR + "combined.xlsx")
combined

,Municipality,Year,Gross Average Wage,00-Unclassified according to activities CEA 1),"A-Agriculture, forestry and fishing",Activities of households as employers; undifferentiated goods and services-producing activities of households for own use,B-Minning and quarrying,C-Manufacturing,"D-Electricity, gas, steam and air conditioning supply","E-Water supply, sewerage, waste management and remediation activities",...,Q-Human health and social work activities,"R-Arts, entertainment and recreation",S-Other service activities,Total,Employees,Bosniak,Croat,Serb,percentage_bosnian_votes,percentage_croat_votes
0,bihac,2005,824.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,11185.0,NaN,NaN,NaN,NaN,NaN
1,bosanska krupa,2005,717.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2272.0,NaN,NaN,NaN,NaN,NaN
2,bosanski petrovac,2005,655.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1286.0,NaN,NaN,NaN,NaN,NaN
3,buzim,2005,677.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1105.0,NaN,NaN,NaN,NaN,NaN
4,cazin,2005,721.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4908.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1575,drvar,2024,1492.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1081.0,NaN,NaN,NaN,NaN,NaN
1576,glamoc,2024,1708.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,628.0,NaN,NaN,NaN,NaN,NaN
1577,kupres,2024,2080.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,979.0,NaN,NaN,NaN,NaN,NaN
1578,livno,2024,2104.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4865.0,NaN,NaN,NaN,NaN,NaN
1579,tomislavgrad,2024,1770.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3555.0,NaN,NaN,NaN,NaN,NaN

## 1. Timeline from 2012 - 2023

I will be included years 2010 and 2011 for now because I want to impute data for 2012 using voting data for 2010 and census data for 2013.

In [14]:
combined = combined[combined["Year"].between(2010, 2023)]

## 2. Create Independent Variable

Use the following as additional evidence for assuming ethnic to political connection:

https://www.bmz.de/en/countries/bosnia-and-herzegovina/political-situation-91748